.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name テストユーザー１
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
        .header__logo
          = link_to new_group_path do
            %i.fa.fa-edit.white-color
        %li.side-header__box__menu__edit-user
          = link_to "" do
            %i.fa.fa-cog.white-color
  .groups
    .group
      %p.group__group-name テストグループ１
      %p.group__group-name-message おはようございます   
    .group
      %p.group__group-name テストグループ2
      %p.group__group-name-message こんにちは  